
body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    justify-content: center;
}
#wholepagewrapper {
    width: 800px;
    margin: 0 auto;
    padding-top: 100px;
	margin-left: 500px;
	margin-right: auto;
	padding-left: 500px;
	background-color: red;
}

font-big{
    font-size: xx-large;

}