.btn{
	display: none;
}
h2{
	display: block;
	border: none;
	color: #000000;
	padding-bottom: 0px;
	padding-top: 0px;
}
.crjk{
	display: none;
}
.clkk{
	display: none;
}
.Neur {
    border-spacing: 0px;
    border: 1px;
    border-style: none;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
td{
	text-align: center;
	padding: 2px;
}
.head{
	text-align: center;
	display: block;
}
.heading{
	display: none;
}