body{
	background-color: #ffeb99;
	
}

/*purple's code is #000066*/

 .some{
	border-color: #990000;
	background-color: #990000;
}
 .navbar{
	border-color: #990000;
	background-color: #990000;
}
 .navbar-toggle{
	border-color: #990000;
	background-color: #990000;
}
 .logo{
	border: 8px solid #990000;
	width: 15%;
	height: auto;
	float:left;
}

.btn{
	width: 150px;
}

.modal-body{
	padding-top: 80px;
	height: 300px;
}
.modal-footer{
	text-align: center;
}



 h1{
	padding-top: 30px;
	text-align: center;
	color: #990000;
	font-family: serif;
}

 .btn:hover {opacity: 0.7;}

 .btn:active {

  transform: translateY(2px);
}
.del-form-control{
	border-radius: 10px;
	height: 35px;
	width: 300px;
}
.btn-cont{
	padding-top: 80px; 
	text-align: center;
}

.selection{		
	padding-top: 70px;
	text-align: center;
}
.output{
	padding-top: 50px;
	text-align: center;
}
.box{
	width: 300px;
}


@media only screen and (max-width : 700px) and (min-width : 601px) {

	 .logo{
		border: 8px solid #990000;
		width: 7%;
		height: auto;
		float:left;
	}
}


@media only screen and (max-width : 600px) {

	.logo{
		border: 8px solid #990000;
		width: 9%;
		height: auto;
		float:left;
	}
	#page6 .btn{
		width: 350px;
		height: 50px;
		border-color: #ffffff;
	}
	#page6 h1{
		padding-top: 0px;
		text-align: center;
		color: #990000;
		font-family: serif;
		font-size: 20;
	}
}



@media only screen and (min-width : 1200px) {


	
}




