
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(24,119,232,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    justify-content: center;
}
#wholepagewrapper {
    width: 800px;
    margin: 0 auto;
    padding-top: 100px;
}

font-big{
    font-size: xx-large;

}