body{
    background-image: linear-gradient(to right,#FFEB99,#64ED99);
    font-family: 'Segoe UI',
        sans-serif;
}
h2{
    background-color: navy;
    color: white;
    text-align:center;
    margin:7px 7px;
    text-shadow:none;
    border-style: solid;
    border-color: crimson;
    border-radius: 15px 50px; /*for assymetrical boders*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
p{
	padding:10px;
	border: black;
}

.buttons{
	padding: 20px;
	padding-bottom: 30px;
	text-align: center;
	
	
	
}

.btn{
	width: 90px;
	height: 40px;
	border-radius: 8px;
	cursor: pointer;
}
.btn:hover{
	opacity: 0.9;
}
.btn-danger{
	background-color: #ff3333;
	color: white;
	border: #ff3333;
}
.btn-success{
	background-color: #2eb82e;
	color: white;
	border: #2eb82e;
}

.cont{
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	text-align:left;
}

.alert{
	color: red;
	margin-left: 175px;
	padding: 0px;
	padding-bottom: 0px;
}


@media only screen and (min-width : 1200px) {
	.cont{
		width: 30%;
	}
}
